.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  margin: 9px 0 0 445px;
}

.u-section-1 .u-group-1 {
  width: 503px;
  min-height: 331px;
  background-image: none;
  margin: -427px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 500;
  margin: 50px 0 0 16px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 650px;
    height: auto;
    margin-top: -675px;
    margin-left: 245px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -389px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -619px;
    margin-left: 25px;
  }

  .u-section-1 .u-group-1 {
    width: 419px;
    margin-top: -427px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: -365px;
  }

  .u-section-1 .u-group-1 {
    width: 295px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 24px 25px 24px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 586px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 4px 50px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 84px 348px 0 15px;
}

.u-section-2 .u-text-3 {
  margin: 67px 0 40px 664px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 1007px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -371px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 482px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 1072px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -560px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 20752px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -827px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 13864px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1268px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 598px;
}

.u-section-3 .u-list-1 {
  width: 550px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 537px;
  grid-gap: 10px 10px;
  margin: 34px 0 0 auto;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin: -555px 973px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 79px 607px 0 22px;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

.u-section-3 .u-btn-6 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  margin: 79px 607px 60px 22px;
}

.u-section-3 .u-btn-7 {
  padding: 0;
}

.u-section-3 .u-btn-8 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-list-1 {
    width: 487px;
    min-height: 562px;
    height: auto;
  }

  .u-section-3 .u-text-9 {
    margin-top: -570px;
    margin-right: 773px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 561px;
    margin-right: 429px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 429px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    min-height: 462px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    margin-right: 553px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 209px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 373px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 29px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -545px;
    margin-right: 173px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 549px;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
}.u-section-4 {
  min-height: 913px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 500px);
  height: 707px;
  background-image: none;
  margin: 161px 0 0 auto;
}

.u-section-4 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 640px);
  height: 530px;
  background-image: none;
  margin: -868px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 518px;
  min-height: 161px;
  margin: 149px auto 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0 13px 35px;
}

.u-section-4 .u-text-1 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.7;
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-shape-3 {
  width: 14px;
  height: 161px;
  margin: -161px auto 0 80px;
}

.u-section-4 .u-video-1 {
  width: 807px;
  height: 454px;
  margin: -787px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 45px calc(((100% - 1140px) / 2) + 819px) 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 491px);
    height: 346px;
    margin-top: 425px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 356px);
    height: 981px;
    margin-top: -221px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 398px;
    margin-top: -476px;
    margin-left: calc(((100% - 940px) / 2) + 15px);
  }

  .u-section-4 .u-shape-3 {
    height: 386px;
    margin-top: -386px;
    margin-left: 50px;
  }

  .u-section-4 .u-video-1 {
    margin-top: -633px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 750px);
    margin-left: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 491px);
    margin-top: 0;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 356px);
    height: 636px;
  }

  .u-section-4 .u-group-1 {
    width: 697px;
    margin-top: 34px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-shape-3 {
    height: 241px;
    margin-top: -241px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    margin-top: -787px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 574px);
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 491px);
    height: 262px;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 356px);
    height: 463px;
    margin-top: -137px;
  }

  .u-section-4 .u-group-1 {
    width: 506px;
    margin-top: 103px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    margin-top: -708px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 431px);
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 306px);
    height: 247px;
  }

  .u-section-4 .u-shape-2 {
    width: 304px;
    height: 412px;
  }

  .u-section-4 .u-group-1 {
    width: 306px;
    margin-top: 100px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-3 {
    height: 430px;
    margin-top: -440px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    margin-top: -653px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 271px);
    margin-left: 24px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 688px;
}

.u-section-5 .u-group-1 {
  width: 710px;
  min-height: 601px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 44px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px 30px 195px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-form-1 {
  width: 447px;
  margin: 20px auto 0;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-form-group-4 {
  width: 100%;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-5 .u-text-2 {
  margin: -367px 730px 0 13px;
}

.u-section-5 .u-shape-1 {
  width: 160px;
  height: 100px;
  animation-duration: 1750ms;
  margin: 27px auto 60px 256px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 235px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 543px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 509px;
    min-height: 620px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 473px;
    min-height: 616px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-form-1 {
    width: 433px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    min-height: 585px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 180px;
  }
}