.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-text-1 {
  margin: 99px 55px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 186px;
  height: 186px;
  margin: 30px 263px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 330px;
  margin: -152px auto 0 258px;
}

.u-section-1 .u-text-2 {
  margin: -22px 191px 0 829px;
}

.u-section-1 .u-text-3 {
  margin: -374px 645px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 698px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 111px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -937px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 728px;
    margin-right: 91px;
    margin-left: 729px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -420px;
    margin-right: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 681px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 313px;
    margin-top: -806px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 649px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -419px;
    margin-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 565px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 62px;
    margin-right: 154px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 197px;
    margin-top: -649px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 608px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -406px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1355px;
}

.u-section-2 .u-text-1 {
  margin: 0 674px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 292px 823px 0 0;
}

.u-section-2 .u-text-3 {
  margin: -538px 823px 0 0;
}

.u-section-2 .u-group-1 {
  width: 809px;
  min-height: 819px;
  margin: -267px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 759px;
  width: 749px;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: -264px 823px 0 0;
}

.u-section-2 .u-text-5 {
  margin: -11px 0 0 1022px;
}

.u-section-2 .u-text-6 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 29px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 284px;
    margin-right: 574px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 956px;
    margin-right: 723px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -435px;
    margin-right: 723px;
    margin-left: 100px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 650px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1891px;
    margin-right: 723px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 1304px;
    margin-left: 822px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -93px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 259px;
    margin-right: 464px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8806px;
    margin-right: 613px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 613px;
    margin-left: 210px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: 1300px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -25166px;
    margin-right: 613px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 16729px;
    margin-left: 602px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -718px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 209px;
    margin-right: 374px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 523px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 523px;
    margin-left: 300px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 31275px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -55091px;
    margin-right: 523px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 46654px;
    margin-left: 422px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -30643px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 184px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8783px;
    margin-right: 423px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -535px;
    margin-right: 423px;
    margin-left: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 31400px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -54991px;
    margin-right: 423px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 46554px;
    margin-left: 222px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 400px;
    margin-right: 400px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1129px;
}

.u-section-3 .u-text-1 {
  margin: 72px 0 0 929px;
}

.u-section-3 .u-group-1 {
  min-height: 834px;
  width: 815px;
  margin: -779px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 731px;
  margin: -30px 60px 0 -92px;
}

.u-section-3 .u-text-2 {
  margin: -15px 93px 0 929px;
}

.u-section-3 .u-text-3 {
  margin: 18px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 729px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 822px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 509px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 602px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 329px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 129px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 222px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 461px;
}

.u-section-4 .u-text-1 {
  margin: 19px 234px 0 0;
}

.u-section-4 .u-group-1 {
  min-height: 327px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 267px;
  width: 868px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 8px 106px 19px 911px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
    margin-left: 811px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 217px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-5 .u-text-1 {
  margin: 21px 968px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-5 .u-group-1 {
  width: 1120px;
  min-height: 461px;
  margin: 13px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 363px;
  width: 1034px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 13px 13px 0 938px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  animation-duration: 2000ms;
  margin: 49px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 21px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 81px;
    margin-right: 768px;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 880px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: 11px;
    margin-left: 771px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 50px;
    padding: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 3px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: -767px;
    margin-right: 548px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 626px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-top: 107px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 8px;
    margin-left: 551px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 125px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -72px;
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 368px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
    margin-left: 411px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 250px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -197px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: 82px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 4px;
    margin-left: 211px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 500px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -447px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 916px;
}

.u-section-6 .u-text-1 {
  margin: 20px 968px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 105px 886px 0 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 811px;
  margin: -743px 42px 0 267px;
}

.u-section-6 .u-text-3 {
  margin: -22px 873px 20px 108px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 768px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 686px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 109px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 773px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 548px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 466px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 561px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 368px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 286px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 86px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 181px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 623px;
}

.u-section-7 .u-text-1 {
  margin: 12px 0 0 12px;
}

.u-section-7 .u-image-1 {
  width: 807px;
  height: 477px;
  margin: 30px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    height: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 201px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1228px;
}

.u-section-8 .u-text-1 {
  margin: 20px 898px 0 0;
}

.u-section-8 .u-custom-html-1 {
  min-height: 976px;
  width: 1076px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 698px;
  }

  .u-section-8 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 478px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 298px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 147px;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-image: none;
  margin: 25px 28px 0 auto;
  padding: 23px 54px 25px 52px;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-image: none;
  margin: -82px auto 40px 28px;
  padding: 23px 54px 25px 52px;
}

.u-section-9 .u-icon-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-9 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 0;
  }
}.div.classtableauPlaceholder.idviz1609087070551.styleposition.relativenoscripta.hrefimg.alt.srchttps.publictableaucom47.static47.images47.en47.energies_bp_stat47.productionetconsommationdeptrole47._rsspng.styleborder.none.anoscriptobject.classtableauViz.styledisplay.none.param.namehost_url.valuehttps3A2F2Fpublictableaucom2F.param.nameembed_code_version.value3.param.namesite_root.value.param.namename.valueenergies_bp_stat47.productionetconsommationdeptrole.param.nametabs.valueno.param.nametoolbar.valueyes.param.namestatic_image.valuehttps.publictableaucom47.static47.images47.en47.energies_bp_stat47.productionetconsommationdeptrole47.png.param.nameanimate_transition.valueyes.param.namedisplay_static_image.valueyes.param.namedisplay_spinner.valueyes.param.namedisplay_overlay.valueyes.param.namedisplay_count.valueyes.param.namelanguage.valuefr.param.namefilter.valuepublishyes.objectdiv.script.typetextjavascript.var.divElement.documentgetElementByIdviz1609087070551.var.vizElement.divElementgetElementsByTagNameobject0.if.divElementoffsetWidth.vizElementstylewidth1000px.vizElementstyleheight827px.else.if.divElementoffsetWidth.vizElementstylewidth1000px.vizElementstyleheight827px.else.vizElementstylewidth100.vizElementstyleheight777px.var.scriptElement.documentcreateElementscript.scriptElementsrc.https.publictableaucomjavascriptsapiviz_v1js.vizElementparentNodeinsertBeforescriptElement.vizElement.script {
}